form {
    width: 100%;
    margin: 25px;
    padding: 15px;
    font-size: 15px;
}

form label {
    float: left;
    width: 20%;
    margin-right: 20px;
    text-align: left;
}

form input, textarea, select {
    width: 30%;
    max-width: 300px;
}

form .selectize-control {
    display: inline-block;
    width: 30%;
    max-width: 300px !important;
    border-color: #303030 !important;
}

form label.suffix-label {
    float: none
}

form a {
    cursor: pointer;
}

form li {
    margin-bottom: 20px;
}

form #add-recipient {
    margin-left: 15px;
}

form #weight-pounds, form #weight-ounces {
    width: 15%;
}

form #weigh-button {
    margin-right: 10px;
}