form {
    width: 100%;
    margin: 25px;
    padding: 15px;
    font-size: 15px;
}

form label {
    float: left;
    width: 20%;
    margin-right: 20px;
    text-align: left;
}

form select {
    width: 20%;
}

form label.suffix-label {
    float: none
}

form li {
    margin-bottom: 20px;
}

form #add-recipient {
    margin-left: 15px;
}