form {
    width: 100%;
    margin: 25px;
    padding: 15px;
    font-size: 15px;
}

form label {
    float: left;
    width: 20%;
    margin-right: 20px;
    text-align: left;
}

form input, textarea, select {
    width: 30%;
    max-width: 300px;
}

form .selectize-control {
    display: inline-block;
    width: 30%;
    max-width: 300px !important;
}

form label.suffix-label {
    float: none;
}

form #address-feedback {
    display: inline-block;
    max-width: 38%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

form .label {
    text-transform: capitalize;
}

form .deleteButton {
    float: right;
}

form .value {
    display: block;
    font-size: 10px;
}

form .rate {
    margin-bottom: 10px;
}

form .delivery {
    font-style: italic;
    font-size: 14px;
}

form li {
    margin-bottom: 20px;
}

form #add-recipient {
    margin-left: 15px;
}

form #weight-pounds, form #weight-ounces {
    width: 15%;
}

form #weigh-button {
    margin-right: 10px;
}

#shipping-confirmation {
    padding: 35px;
}

.info-link {
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
}

.info-link h2 {
    float: left;
    width: 25%;
    max-width: 160px;
    margin-top: 0;
    margin-right: 30px;
    text-align: left;
}

.info-link a {
    text-decoration: none;
    font-size: 14px;
}

.info-link .dashicons {
    margin-left: 5px;
}